body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    transition: background-color 1s ease-in-out;
}
.container {
    display: flex;
    gap: 10px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}
.box:hover {
    background-color: #ff6600;
}
.scene2 {
    background: url('images/homepagina/lose.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}