body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    transition: background-color 1s ease-in-out;
}
.container {
    display: flex;
    gap: 10px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    background-image: url('../images/homepagina/barrel.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box:hover {
    background-color: #ff6600;
}
.scene2 {
    background: url('../images/homepagina/lose.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

#nextBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/homepagina/trainstation.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
  
    filter: sepia(0.8) contrast(1.2) brightness(0.9) saturate(0.6) hue-rotate(-10deg);
}

p {
    color: white;
}

.maze {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
}

.cell {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.wall {
    background: #555;
}

.empty {
    background: #eee;
}

.player {
    background: gold;
}

.goal {
    background: green;
}
